<div class="page-header">
  <h1>
    My Shopping List
    <!-- <a href="/shopping_list_items/new" class="btn btn-lg btn-success">New Shopping list item</a> -->
  </h1>
</div>

<% if @shopping_list_items == [] %>
  <p>
    Your shopping list is currently empty.  Please add items from the "Items On Sale" or "Search" pages.
  </p>
<% else %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Category</th>
        <th>Item</th>
        <th>Brand</th>
        <th>Size</th>
        <th>Unit</th>
        <th>Sale Price</th>
        <th>Store</th>
        <th>To Buy</th>
        <th>Actions</th>
      </tr>

    <% @shopping_list_items.each do |shopping_list_item| %>
      <tr>
        <td><%= shopping_list_item.category.name %></td>
        <td><%= shopping_list_item.item.name %></td>
        <td><%= shopping_list_item.item.brand %></td>
        <td><%= shopping_list_item.item.size %></td>
        <td><%= shopping_list_item.item.unit.name %></td>
        <td><%= number_to_currency(shopping_list_item.price_entry.price) %></td>
        <td><%= shopping_list_item.store.name %></td>
        <td align="center">

              <form action="/inc_qty" method="post">
               <!-- Hidden input for authenticity token to protect from forgery -->
               <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

               <input type="hidden" name="shopping_list_item_id" value="<%= shopping_list_item.id %>">

               <button class="btn btn-group btn-default btn-xs" style="color:red">
                 <i class="icon-plus-sign"></i>
               </button>
              </form>
              <%= shopping_list_item.quantity %>
              <form action="/dec_qty" method="post">
               <!-- Hidden input for authenticity token to protect from forgery -->
               <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

               <input type="hidden" name="shopping_list_item_id" value="<%= shopping_list_item.id %>">

               <button class="btn btn-group btn-default btn-xs" style="color:red">
                 <i class="icon-minus-sign"></i>
               </button>
              </form>

        </td>
        <td>
          <div class="btn-group-vertical btn-group-sm">
            <a href="/delete_shopping_list_item/<%= shopping_list_item.id %>" class="btn btn-primary">Remove</a>
            <a href="/items/<%= shopping_list_item.item_id %>" class="btn btn-warning">View Details</a>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<% end %>
