<div class="page-header">
  <h1>
    Price entries
    <a href="/price_entries/new" class="btn btn-lg btn-success">New Price entry</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Item</th>
        <th>Store</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>

      <% @price_entries.each do |price_entry| %>
      <tr>
        <td><%= price_entry.item_id %></td>
        <td><%= price_entry.store_id %></td>
        <td><%= price_entry.price %></td>
        <td>
          <a href="/price_entries/<%= price_entry.id %>" class="btn btn-primary">Show</a>
          <a href="/price_entries/<%= price_entry.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_price_entry/<%= price_entry.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
