<!-- Validation failure messages -->
<% if @item.errors.any? %>
  <% @item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Item Details</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_item/<%= @item.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <!-- <input type="text" id="category_id" name="category_id" placeholder="Category" class="form-control" value="<%= @item.category_id %>"> -->

        <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name, @item.category_id), :class => "form-control", :include_blank => true) %>
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @item.name %>">
      </div>

      <!-- Label and input for brand -->
      <div class="form-group">
        <label for="brand" class="control-label">
          Brand
        </label>

        <input type="text" id="brand" name="brand" placeholder="Brand" class="form-control" value="<%= @item.brand %>">
      </div>

      <!-- Label and input for size -->
      <div class="form-group">
        <label for="size" class="control-label">
          Size
        </label>

        <input type="text" id="size" name="size" placeholder="Size" class="form-control" value="<%= @item.size %>">
      </div>

      <!-- Label and input for unit_id -->
      <div class="form-group">
        <label for="unit_id" class="control-label">
          Unit
        </label>

        <!-- <input type="text" id="unit_id" name="unit_id" placeholder="Unit" class="form-control" value="<%= @item.unit_id %>"> -->

        <%= select_tag(:unit_id, options_from_collection_for_select(Unit.all, :id, :name, @item.unit_id), :class => "form-control", :include_blank => true) %>
      </div>

      <button class="btn btn-warning">
        Update Item
      </button>
      or
      <a href="/items/<%= @item.id %>">Cancel</a>
    </form>
  </div>
</div>
