<div class="page-header">
  <h3>Item Details</h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Category</dt>
      <dd><%= @item.category.name %></dd>

      <dt>Item</dt>
      <dd><%= @item.name %></dd>

      <dt>Brand</dt>
      <dd><%= @item.brand %></dd>

      <dt>Size</dt>
      <dd><%= @item.size %></dd>

      <dt>Unit</dt>
      <dd><%= @item.unit.name %></dd>

      <br>

      <dt>Average Reported Price</dt>
      <dd><%= number_to_currency(@average_price) %></dd>

      <dt>Average Unit Price</dt>
      <dd><%= number_to_currency(@average_unit_price) %></dd>

      <br>

      <% if @item.price_entries.count == 0 %>
        <dt>Lowest Reported Price</dt>
        <dd><%= @lowest_reported_price %></dd>

        <dt>Store</dt>
        <dd><%= @lowest_reported_store %></dd>

        <dt>When</dt>
        <dd><%= @lowest_reported_date %></dd>

        <br>

        <dt>Highest Reported Price</dt>
        <dd><%= @highest_reported_price %></dd>

        <dt>Store</dt>
        <dd><%= @highest_reported_store %></dd>

        <dt>When</dt>
        <dd><%= @highest_reported_date %></dd>
      <% else %>
        <dt>Lowest Reported Price</dt>
        <dd><%= number_to_currency(@lowest_reported_price) %></dd>

        <dt>Store</dt>
        <dd><%= @lowest_reported_store %></dd>

        <dt>When</dt>
        <dd>about <%= time_ago_in_words(@lowest_reported_date) %> ago</dd>

        <br>

        <dt>Highest Reported Price</dt>
        <dd><%= number_to_currency(@highest_reported_price) %></dd>

        <dt>Store</dt>
        <dd><%= @highest_reported_store %></dd>

        <dt>When</dt>
        <dd>about <%= time_ago_in_words(@highest_reported_date) %> ago</dd>
      <% end %>
    </dl>

    <div class="btn-group btn-group-justified">
      <!-- <a href="/items" class="btn btn-primary">
        Add to My Shopping List
      </a> -->
      <a href="/price_entries/new/<%= @item.id %>" class="btn btn-success">
        Add Price Entry
      </a>
      <a href="/items/<%= @item.id %>/edit" class="btn btn-warning" rel="no follow">
        Edit Item Details
      </a>
    </div>
  </div>
</div>


<% if @where_item_on_sale != [] %>

<h3>
  Sale Location(s) and Sale Price
</h3>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Store</th>
        <th>Sale Price</th>
        <th>Actions</th>
      </tr>

      <% @where_item_on_sale.each do |price_entry| %>
        <tr>
          <td><%= price_entry.store.name %></td>
          <td><%= number_to_currency(price_entry.price) %></td>
          <td>
            <a href="/create_shopping_list_item/<%= price_entry.id %>" class="btn btn-primary">
            Add to My Shopping List</a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<% end %>
